<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>

<body ng-controller="searchCtrl">

    <input id="search" ng-model="search" ng-change="searchFoods(search)" type="text" placeholder="Search" />

    <select ng-model="selection" ng-change="getFoodReport(selection)">
        <option ng-repeat="item in foodItems" value="{{ item.ndbno }}">{{ item.name }}</option>
    </select>
    <br><br><br>

    <input ng-model="quantity" ng-change="calculateNutrients(quantity, measure)" type="number" step="0.25" min="0" ng-show="selection" ng-hide="!selection" />
    <select ng-model="measure" ng-change="calculateNutrients(quantity, measure)" ng-show="selection" ng-hide="!selection">
        <option ng-repeat="m in measures" value="{{ m }}">{{ m }}</option>
    </select>
    <h1>{{ quantity }} {{ measure }} {{ food.name }}</h1>
    <h3 ng-if="selection">Calories: {{ food.nutrients.calories }}g</h3>
    <h3 ng-if="selection">Fat: {{ food.nutrients.fat }}g</h3>
    <h3 ng-if="selection">Carbs: {{ food.nutrients.carbs }}g</h3>
    <h3 ng-if="selection">Protein: {{ food.nutrients.protein }}g</h3>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="apitest.js"></script>
</body>

</html>