<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>

<body ng-controller="searchCtrl">

    <input id="search" ng-model="search" ng-change="searchFoods(search)" type="text" placeholder="Search" />

    <select ng-model="selection" ng-change="getFoodReport(selection)">
        <option ng-repeat="item in foodItems" value="{{ item.ndbno }}">{{ item.name }}</option>
    </select>
    <br>

    <h2 ng-if="selection" id="foodName"></h2>
    <select ng-if="selection" ng-model="measure" ng-change="getFoodReport(selection)">
        <option ng-repeat="item in measures" value="{{ item.ndbno }}">{{ item.name }}</option>
    </select>
    <h4 ng-if="selection">Calories: <span id="foodCalories"></span></h4>
    <h4 ng-if="selection">Fat: <span id="foodFat"></span></h4>
    <h4 ng-if="selection">Carbs: <span id="foodCarbs"></span></h4>
    <h4 ng-if="selection">Protein: <span id="foodProtein"></span></h4>
    <br>

    <h2>Results for: {{ search }}</h2>
    <ul>
        <li ng-repeat="item in foodItems">
            <h4>#{{ item.ndbno }}, {{ item.name }}</h4>
        </li>
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="apitest.js"></script>
</body>

</html>