* {
  border-radius: 3px;
}

.recipe-block {
  background-color: rgb(230,235,245);
  border-radius: 3px;
  box-shadow: inset 0 0 0 7px rgba(255, 255, 2555, .5);
  padding: 30px;
  margin: 10%;
}


.outer-div {
	padding: 20px;
}

#appContent {
  font-size: 120%;
}

.clickable:hover, .link:hover, button:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

.link {
  color: blue;
}

.gone {
	display: none;
}

.col-center {
	float: none;
	margin: 0 auto;
}

.input-block {
	width: 360px;
}

.description {
  padding: 20px;
  background: rgba(255, 255, 2555, .5);
}

.commentBody{
  background: rgb(245, 245, 255);
  width: 100%;
}

.commentHead {
  background: rgb(204,212,225);
  width: 100%;
  height: 50px;
}

.row {
  padding-bottom: 5px;
}

.right {
  float: right;
  overflow: hidden;
}
.recipe-block button{
	background-color: rgb(204,212,225);
	}

button {
	background-color: rgb(224,242,255);
	margin: 10px;
	width: 200px;
}