<div id="appContent" ng-controller="AppController as app">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<button class="navbar-toggler navbar-toggler-right"
			data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand">YumYap</a>
		<div class="navbar-collapse collapse show" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" ng-click="switchToHome()">Home</a>

				<!-- TODO: Set tab to Create Recipe -->
				<a class="nav-item nav-link" ng-click="switchToCreateRecipe()">Create Recipe</a>
				<a class="nav-item nav-link" ng-click="switchToSearchRecipe()">Search Recipes</a>
				<a class="nav-item nav-link" href="#">Logout</a>
			</div>
		</div>
	</nav>
	<div ng-show="tab === 'Home'" ng-controller="DashboardController">
		<h3> Welcome back, <span ng-bind="currentUser.firstName"></span></h3>

		<div class="recipe-block"  ng-repeat="recipe in recipes">
			<div id="recipe-head" class="recipe-content">
				<h3 id="recipe-name" ng-bind="recipe.name"></h3>
				<p id="recipe-description" ng-bind="recipe.description"></p>
			</div>
			<div class="recipe-content">
				<img id="recipe-image" ng-src="{{ recipe.imageUrl }}" width="100" height="100"></img>
				<div>
					Posted by {{recipe.creator.firstName + " " +
					recipe.creator.lastName}} <br>
					<!-- This button should bring you to the user that posted it -->
					<button class="btn btn-primary" ng-click="viewAuthor(recipe)">View Author Profile</button>
				</div>
			</div>
			<div class="recipe-content">
				<ul class="recipe-content" id="recipe-ingredients"
					ng-repeat="foodItem in recipe.ingredients">
					<li>{{foodItem.amount}}<span ng-bind="foodItem.measure"></span>
						of <span ng-bind="foodItem.food"></span></li>
				</ul>
				<ol class="recipe-content" id="recipe-methods"
					ng-repeat="direction in recipe.directions">
					<li ng-bind="recipe.directions"></li>
				</ol>
			</div>
			<button ng-click="favoriteRecipe(recipe)">Save this recipe</button>
			
			<div id="comments">
				<button ng-click="startComment()">Add comment</button>
				<div ng-show="addingComment">
				<textarea  ng-model="recipeDescription"
					cols="32" rows="5" placeholder="Description"></textarea>
					<button ng-click="addComment(recipe)">Submit</button>
				</div>
				<button ng-click="viewComments(recipe)">View comments for
					this recipe</button>
				<div ng-show="showComments">
					<div ng-repeat="comment in recipe.comments">
						<h5 ng-bind="comment.commentor"></h5>
						<p ng-bind="comment.content"></p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div ng-show="tab === 'ViewAuthor'" ng-controller="ViewAuthorController as viewAuthor">
		<div>
			<h1 ng-bind="user.firstName + ' ' + user.lastName"></h1>
			<button ng-click="follow()">
				Follow <span ng-bind="user.firstName"></span>
			</button>
		</div>
		<div class="recipe-block" ng-repeat="recipe in user.recipes">
			<div id="recipe-head" class="recipe-content">
				<h3 id="recipe-name" ng-bind="recipe.name"></h3>
				<p id="recipe-description" ng-bind="recipe.description"></p>
			</div>
			<div class="recipe-content">
				<img id="recipe-image" ng-src="recipe.imageUrl" width="100"
					height="100"></img>
				<div>
					Posted by {{recipe.creator.firstName + " " +
					recipe.creator.lastName}} <!-- This button should bring you to the user
					that posted it -->
					<button ng-click="viewAuthor(recipe.creator)">View Author
						Profile</button>
				</div>
				<div class="recipe-content">
					<ul class="recipe-content" id="recipe-ingredients"
						ng-repeat="foodItem in recipe.ingredients">
						<li><span
							ng-bind="foodItem.amount + ' ' + foodItem.measure + ' of ' + foodItem.name"></span></li>
					</ul>
					<ul class="recipe-content"
						ng-repeat="direction in recipe.directions">
						<li ng-bind="direction"></li>
					</ul>
				</div>
				<button ng-click="favoriteRecipe(recipe)">Save this recipe</button>
				
			</div>
			<div id="comments">
				<button ng-click="startComment()">Add comment</button>
				<div ng-show="addingComment">
				<textarea  ng-model="recipeDescription"
					cols="32" rows="5" placeholder="Description"></textarea>
					<button ng-click="addComment(recipe)">Submit</button>
				</div>
				<button ng-click="viewComments(recipe)">View comments for
					this recipe</button>
				<div ng-show="showComments">
					<div ng-repeat="comment in recipe.comments">
						<h5 ng-bind="comment.commentor"></h5>
						<p ng-bind="comment.content"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="tab === 'CreateRecipe'" style="padding-left:20px">
		<div ng-controller="RecipeCtrl">
			<div id="recipe-head" class="recipe-content">
				<h1 ng-bind="recipeName"></h1>
				<input ng-model="recipeName" placeholder="Recipe name" /> <br>
				<br> <input type="file" id="recipeImageFile" />
				<button ng-click="uploadRecipeImage()">Save Image</button>
				<br> <img ng-src="{{ recipeImageUri }}" id="recipeImage" width="300" height="300" /> <br>
				<br><br>
				<p id="uploadImageMessage" hidden=true></p>

				<textarea ng-model="recipeDescription" cols="36" rows="5"
					placeholder="Description"></textarea>
			</div>
			<div class="recipe-content">
				<h2>Ingredients</h2>

				<input id="search" ng-model="search" ng-change="searchFoods(search)"
					type="text" placeholder="Search ingredients" /> <select
					ng-model="selection" ng-change="getFoodReport(selection)"
					ng-show="search" ng-hide="!search">
					<option ng-repeat="item in foodItems" ng-bind="item.name"
						value="{{ item.ndbno }}"></option>
				</select> <br> <span ng-show="selection"> <input
					ng-model="quantity"
					ng-change="calculateNutrients(quantity, fraction, measure)"
					type="number" default=0 step="1" min="0" /> <select
					ng-model="fraction"
					ng-change="calculateNutrients(quantity, fraction, measure)">
						<option value="0"></option>
						<option value="1/8">1/8</option>
						<option value="1/4">1/4</option>
						<option value="1/3">1/3</option>
						<option value="1/2">1/2</option>
						<option value="2/3">2/3</option>
						<option value="3/4">3/4</option>
				</select> <select ng-model="measure"
					ng-change="calculateNutrients(quantity, fraction, measure)">
						<option ng-repeat="m in measures" value="{{ m }}" ng-bind="m"></option>
				</select> <input type="text" value="{{ customName }}" ng-model="customName" />
					<button
						ng-click="addIngredient(quantity, fraction, measure, customName)">+</button>
					<br>
					<h3>
						<span ng-if="quantity!=0 && measure" ng-bind="quantity"></span> <span
							ng-if="fraction!='0' && measure" ng-bind="fraction"></span> <span
							ng-bind="measure"></span> <span ng-bind="customName"></span>
					</h3>
				</span>

				<ul style="list-style-type: none;">
					<li ng-repeat="ingredient in ingredients"><span
						ng-if="ingredient.quantity!=0" ng-bind="ingredient.quantity"></span>
						<span ng-if="ingredient.fraction!='0'"
						ng-bind="ingredient.fraction"></span> <span
						ng-bind="ingredient.measure"></span> <span
						ng-bind="ingredient.name"></span></li>
				</ul>

				<h2>Directions</h2>
				<input type="text" ng-model="recipeStep" placeholder="Add a step" />
				<button ng-click="addStep(recipeStep)">+</button>
				<ul style="list-style-type: none;">
					<li ng-repeat="step in steps" ng-bind="step"></li>
				</ul>
			</div>
			<!-- TODO: Send recipe to backend for storage -->
			<button class="btn btn-primary" ng-click="publishRecipe()">Publish Recipe</button>
			<br><br>
			<p id="recipeMessage" hidden=true></p>
		</div>
	</div>

	<div ng-show="tab === 'SearchRecipes'"
		ng-controller="SearchRecipesController">
		<div>
		<input type="text" ng-model="recipeName">
		<button ng-click="search()">Search Recipes</button>
		</div>
		<div ng-show="showRecipes">
			<div class="recipe-content" ng-repeat="recipe in foundRecipes">
				<h3 ng-bind="recipe.name"></h3>
				<img id="recipe-image" ng-src="{{ recipe.imageUrl }}" width="100"
					height="100"></img>
				<div>
					<h4>Posted by <span ng-bind="recipe.creator.firstName"></span> <span ng-bind="recipe.creator.lastName"></span></h4><br> 
					<button ng-click="viewAuthor(recipe.creator)">View Author
						Profile</button>
				</div>
				<div class="recipe-content">
					<ul class="recipe-content" id="recipe-ingredients"
						ng-repeat="foodItem in recipe.ingredients">
						<li><span
							ng-bind="foodItem.amount + ' ' + foodItem.measure + ' of ' + foodItem.name"></span></li>
					</ul>
					<ul class="recipe-content"
						ng-repeat="direction in recipe.directions">
						<li ng-bind="direction"></li>
					</ul>
				</div>
				<button ng-click="favoriteRecipe(recipe)">Save this recipe</button>
				<p ng-attr-id="{{ 'recipe-' + recipe.id }}" hidden=true></p>
			
			<div id="comments">
				<button ng-click="startComment()">Add comment</button>
				<div ng-show="addingComment">
				<textarea  ng-model="recipe.comment"
					cols="32" rows="5" placeholder="Description"></textarea>
					<button ng-click="addComment(recipe)">Submit</button>
				</div>
				<button ng-click="viewComments(recipe)">View comments for
					this recipe</button>
				<div ng-show="showComments">
					<div ng-repeat="comment in recipe.comments">
						<h5 ng-bind="comment.commentor"></h5>
						<p ng-bind="comment.content"></p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>


</div>
