<div id="appContent" ng-controller="AppController as app">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" ng-click="homeTab()">Home</a>
                <a class="nav-item nav-link">TabName1</a>
                <a class="nav-item nav-link">TabName2</a>
                <a class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>

   <!-- Please set the controller to <whatever> as recipectrl TY
we will need recipectrl.getMeasure(foodItem.measure) to return the measurement from the API found at the string foodItem.measure
We will need recipectrl.getFood(foodItem.food) to return the name of the food from the API found at the food Id given by foodItem.food -->
    <div ng-show="tab === 'Home'" ng-controller="HomeTabController as homeTab">
        <div class="recipe-block"  ng-repeat="recipe in recipes">
            <div id="recipe-head" class="recipe-content">
                <h3 id="recipe-name" ng-bind="recipe.name"></h3>
                <p id="recipe-description" ng-bind="recipe.description"></p>
            </div>
            <div class="recipe-content">
                <img id="recipe-image" src="recipe.image" width="100" height="100"></img>
                <div>
                    Posted by {{recipe.creator.firstname + " " + recipe.creator.lastname}}
                    <!-- This button should bring you to the user that posted it -->
                    <button ng-click="viewAuthor(recipe.author.email)">View Author Profile</button>
                </div>
            </div>
            <div class="recipe-content">
                <ul class="recipe-content" id="recipe-ingredients" ng-repeat="foodItem in recipe.ingredients">
                    <li>{{foodItem.amount}}<span ng-bind="foodItem.measure"></span> of <span ng-bind="foodItem.food"></span></li>
                </ul>
                <ol class="recipe-content" id="recipe-methods"
                    ng-repeat="direction in recipe.directions">
                    <li ng-bind="recipe.directions"></li>
                </ol>
            </div>
            	<button ng-click="homeTap.favoriteRecipe()">Save this recipe</button>
        </div>
    
    </div>
    
    
    <div ng-show="tab === 'ViewAuthor'" ng-controller="ViewAuthorController as viewAuthor">
    <div>
        <h1 ng-bind="user.firstName + ' ' + user.lastName"></h1>
        <button ng-click="follow()">follow <span ng-bind="user.firstname"></span></button> 
    </div>
        <div class="recipe-block"  ng-repeat="recipe in user.recipes">
            <div id="recipe-head" class="recipe-content">
                <h3 id="recipe-name" ng-bind="recipe.name"></h3>
                <p id="recipe-description" ng-bind="recipe.description"></p>
            </div>
            <div class="recipe-content">
                <img id="recipe-image" src="recipe.image" width="100" height="100"></img>
                <div>
                    Posted by {{recipe.creator.firstname + " " + recipe.creator.lastname}}
                    <!-- This button should bring you to the user that posted it -->
                    <button ng-click="viewAuthor(recipe.author.email)">View Author Profile</button>
                </div>
            </div>
            <div class="recipe-content">
                <ul class="recipe-content" id="recipe-ingredients" ng-repeat="foodItem in recipe.ingredients">
                    <li>{{foodItem.amount}}<span ng-bind="foodItem.measure"></span> of <span ng-bind="foodItem.food"></span></li>
                </ul>
                <ol class="recipe-content" id="recipe-methods"
                    ng-repeat="direction in recipe.directions">
                    <li ng-bind="recipe.directions"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
